<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.lysl.dao.InstitutionDAO">

    <sql id="InstCols">
        name, type, province, city, district, address, status, auth
     </sql>

    <sql id="InstTable">
        lysl_institution_info
    </sql>

    <select id="selectByCondition" resultType="com.whu.lysl.entity.dbobj.InstitutionDO"
            parameterType="com.whu.lysl.entity.condition.InstCondition">
        SELECT id, gmt_created, gmt_modified,
        <include refid="InstCols"/>
        FROM
        <include refid="InstTable"/>
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="name != null">AND name = #{name}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="province != null">AND province = #{province}</if>
            <if test="city != null">AND city = #{city}</if>
            <if test="district != null">AND district = #{district}</if>
        </where>
    </select>

    <select id="queryByPartitionOfName" resultType="com.whu.lysl.entity.dbobj.InstitutionDO">
        SELECT id, gmt_created, gmt_modified,
        <include refid="InstCols"/>
        FROM
        <include refid="InstTable"/>
        WHERE name LIKE CONCAT('%', #{name}, '%')
        LIMIT 10
    </select>
    
    <insert id="insert" parameterType="com.whu.lysl.entity.dbobj.InstitutionDO" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO
        <include refid="InstTable" />
        (
        name, type, province, city, district, address, auth
        )
        VALUES (
        #{name}, #{type}, #{province}, #{city}, #{district},
        #{address}, #{auth}
        )
    </insert>

    <update id="update" parameterType="com.whu.lysl.entity.dbobj.InstitutionDO" >
        UPDATE <include refid="InstTable" />
        <set>
            <if test="name != null"> name = #{name}, </if>
            <if test="type != null"> type = #{name}, </if>
            <if test="status != null"> status = #{status}, </if>
            <if test="province != null"> province = #{province}, </if>
            <if test="city != null"> city = #{city}, </if>
            <if test="district != null"> district = #{district}, </if>
            <if test="address != null"> address = #{address}, </if>
            <if test="auth != null"> auth = #{auth}, </if>
        </set>
    </update>


</mapper>
