<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.lysl.dao.MatchOrderDAO">

    <sql id="MatchOrderCols">
        id,gmt_created, donor_id, donee_id, material_id,material_quantity,status,donation_order_id,demand_order_id,logistic_code,shipper_code,donor_name,donee_name,material_name
     </sql>

    <sql id="MatchOrderTable">
        lysl_match_order
    </sql>



    <insert id="saveMatchOrder" parameterType="com.whu.lysl.entity.dbobj.MatchOrderDo">
        insert into lysl_match_order(gmt_created,gmt_modified,donor_id,donee_id,material_id,material_quantity,status,
        matching_method,donation_order_id,demand_order_id,tracking_number,donor_name,donee_name,material_name)
        values(#{gmtCreated},#{gmtModified},#{donorId},#{doneeId},#{materialId},#{materialQuantity},#{status},#{matchingMethod},#{donationOrderId},
        #{demandOrderId},#{trackingNumber},#{donorName},#{doneeName},#{materialName})
    </insert>

    <select id="selectDonationOrderIdByDonorId" resultType="int" parameterType="int">
        SELECT donation_order_id
        FROM
        <include refid="MatchOrderTable" />
        WHERE donor_id = #{donorId} group by donation_order_id
    </select>

    <select id="selectByDonorIdAndDonationOrderId" resultType="com.whu.lysl.entity.dbobj.MatchOrderDo" parameterType="int">
        SELECT <include refid="MatchOrderCols"></include>
        FROM
        <include refid="MatchOrderTable" />
        WHERE donor_id = #{donorId} and donation_order_id = #{donationOrderId}
    </select>

    <select id="selectDemandOrderIdByDoneeId" resultType="int" parameterType="int">
        SELECT demand_order_id
        FROM
        <include refid="MatchOrderTable" />
        WHERE donee_id = #{doneeId} group by demand_order_id
    </select>

    <select id="selectByDoneeIdAndDonationOrderId" resultType="com.whu.lysl.entity.dbobj.MatchOrderDo" parameterType="int">
        SELECT <include refid="MatchOrderCols"></include>
        FROM
        <include refid="MatchOrderTable" />
        WHERE donee_id = #{doneeId} and demand_order_id = #{demandOrderId}
    </select>

    <select id="selectAllMatchOrder" resultType="com.whu.lysl.entity.condition.MatchOrderCondition">
        SELECT <include refid="MatchOrderCols"></include> FROM (select * from <include refid="MatchOrderTable" /> order by id) as t
         group by donor_id,donee_id,donation_order_id,demand_order_id
    </select>

    <update id="updateStatus">
        UPDATE <include refid="MatchOrderTable"></include> SET status = #{status} where id = #{matchOrderId}
    </update>

    <update id="updateLogisticInfo">
        UPDATE <include refid="MatchOrderTable"></include> SET logistic_code = #{logisticCode} , shipper_code = #{shipperCode} where id = #{matchOrderId}
    </update>

    <select id="getMatchOrderGroupList" resultType="com.whu.lysl.entity.condition.MatchOrderCondition" parameterType="com.whu.lysl.entity.condition.MatchOrderCondition">
        select <include refid="MatchOrderCols"></include> FROM (
        select * FROM <include refid="MatchOrderTable"></include>
        <where>
            <if test="donorId != 0">
                AND donor_id = #{donorId}
            </if>
            <if test="doneeId != 0">
                AND donee_id = #{doneeId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="matchingMethod != null">
                AND matching_method = #{matchingMethod}
            </if>
        </where> ORDER by id ) AS t group by donor_id,donee_id,donation_order_id,demand_order_id

    </select>

    <select id="selectByDoneeIdAndDonationOrderIdAndDonorIdAndDoneeId" resultType="com.whu.lysl.entity.dbobj.MatchOrderDo" parameterType="com.whu.lysl.entity.condition.MatchOrderCondition">
        SELECT <include refid="MatchOrderCols"></include>
        FROM
        <include refid="MatchOrderTable" />
        <where>
            <if test="donorId != null">
                AND donor_id = #{donorId}
            </if>
            <if test="doneeId != null">
                AND donee_id = #{doneeId}
            </if>
            <if test="demandOrderId != null">
                AND demand_order_id = #{demandOrderId}
            </if>
            <if test="donationOrderId != null">
                AND donation_order_id = #{donationOrderId}
            </if>
        </where>
    </select>


    <select id="selectLogisticInfoByStatus" resultType="com.whu.lysl.entity.dto.LogisticInfo" parameterType="list">
        select id,logistic_code,shipper_code from (select * from <include refid="MatchOrderTable" />
        WHERE status in
        <foreach collection="list" index="index" item="status" open="(" separator="," close=")">
            #{status}
        </foreach> order by id ) as t group by donor_id,donee_id,donation_order_id,demand_order_id
    </select>

</mapper>
